# <span style="font-size: 20pt; font-family: Montserrat, sans-serif; color: rgb(92, 148, 206); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Graded Assignment 3: 9 to 5</span>

  

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Time to show off your SQL skills! For each question, copy the SQL query you used and make note of the answer.</span>

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">The Dataset</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">For this assignment, you will be using the Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results which can be found on</span> [<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(17, 85, 204); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">Kaggle</span>](https://www.kaggle.com/bls/employment)<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">.</span>

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Business Issue</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">You are working for the Bureau of Labor Statistics with the United States government and have been approached by your boss with an important meeting request. You have been asked by your supervisor to meet with Dolly Parton whose nonprofit is looking to shed light on the state of employment in the United States. As part of the 9 to 5 project, their research is focused on production and nonsupervisory employees and how those employees fare compared to all employees in the United States. While the data the BLS collects from the CES is publicly available, Dolly Parton and her colleagues need your assistance navigating the thousands of rows in each table in LaborStatisticsDB.</span>

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">About the Dataset</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">This dataset comes directly from the Bureau of Labor Statistics’ Current Employment Survey (CES). Here are some things you need to know:</span>

1. <span style="font-size: 10pt; background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">The industry table contains an NAICS code. This is different from the industry code. NAICS stands for North American Industry Classification System.</span>
    
2. <span style="font-size: 10pt; background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Series ID is composed of multiple different codes. CES stands for Current Employment Survey, the name of the survey which collected the data. The industry code as specified by the BLS and the data type code as specified in the datatype table.</span>
    

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Set Up</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">To connect to the database, use the same connection info used during the SQL lessons.&nbsp;</span> 

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">For the assignment, we will be using the LaborStatisticsDB database.</span>

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Database Exploration</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">To start with, let’s get to know the database further.</span>

1. <span style="background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: &quot;Times New Roman&quot;; font-size: 10pt; white-space: pre-wrap;">Use this space to make note of each table in the database, the columns within each table, each column’s data type, and how the tables are connected. You can write this down or draw a diagram. Whatever method helps you get an understanding of what is going on with LaborStatisticsDB.</span>

To add a photo, diagram or document to your file, drop the file into the folder that holds this notebook.  Use the the link button to the right of the  \</\> symbol in the gray part of this cell, the link is just the name of your file.

series_id,supersector_code,industry_code,data_type_code,seasonal,series_title
CES0000000001,0,00000000,1,S,All employees
CES0000000010,0,00000000,10,S,Women employees
CES0000000025,0,00000000,25,S,All employees
CES0000000026,0,00000000,26,S,All employees
CES0500000001,5,05000000,1,S,All employees

In [65]:
SELECT * FROM LaborStatisticsDB.INFORMATION_SCHEMA.KEY_COLUMN_USAGE
WHERE TABLE_NAME = N'annual_2016';

CONSTRAINT_CATALOG,CONSTRAINT_SCHEMA,CONSTRAINT_NAME,TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,COLUMN_NAME,ORDINAL_POSITION
LaborStatisticsDB,dbo,PK_annual_2016,LaborStatisticsDB,dbo,annual_2016,id,1

In [66]:
SELECT TOP 10 * FROM LaborStatisticsDB.dbo.supersector
WHERE supersector_name like '%financial%'

supersector_code,supersector_name
55,Financial activities

In [67]:
SELECT TOP 10 * FROM LaborStatisticsDB.dbo.industry
WHERE industry_name like '%bank%'

id,industry_code,naics_code,publishing_status,industry_name,display_level,selectable,sort_sequence
560,55521000,521,C,Monetary authorities - central bank,4,T,561
563,55522110,52211,A,Commercial banking,6,T,564
770,65621991,621991,C,Blood and organ banks,7,T,771

2. <span style="background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: Arvo, serif; font-size: 10pt; white-space: pre-wrap;">What is the datatype for women employees?</span>

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">What is the series id for&nbsp; women employees in the commercial banking industry in the financial activities supersector?</span>

In [69]:
SELECT TOP 10 * FROM LaborStatisticsDB.dbo.series
WHERE supersector_code like '55' AND industry_code like '55522110' AND series_title like 'Women employees'

series_id,supersector_code,industry_code,data_type_code,seasonal,series_title
CES5552211010,55,55522110,10,S,Women employees
CEU5552211010,55,55522110,10,U,Women employees

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Join in on the Fun</span>

<span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Time to start joining! You can choose the type of join you use, just make sure to make a&nbsp; note!</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join&nbsp; annual_2016 with series on series_id. We only want the data in the annual_2016 table to be included in the result.</span>

In [70]:
SELECT TOP 5 * FROM LaborStatisticsDB.dbo.annual_2016 AS a
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON a.series_id = s.series_id

id,series_id,year,period,value,footnote_codes,original_file,series_id,supersector_code,industry_code,data_type_code,seasonal,series_title
0,CEU5500000007,2016,M13,36.9,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000007,55,55000000,7,U,Average weekly hours of production and nonsupervisory employees
1,CEU5500000008,2016,M13,26.11,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000008,55,55000000,8,U,Average hourly earnings of production and nonsupervisory employees
2,CEU5500000030,2016,M13,962.73,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000030,55,55000000,30,U,Average weekly earnings of production and nonsupervisory employees
3,CEU5500000031,2016,M13,411.29,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000031,55,55000000,31,U,Average weekly earnings of production and nonsupervisory employees
4,CEU5500000032,2016,M13,11.15,NULL,ce.data.55c.FinancialActivities.ProductionEmployeeHoursAndEarnings.csv,CEU5500000032,55,55000000,32,U,Average hourly earnings of production and nonsupervisory employees

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join series and datatype on data_type_code</span>

In [71]:
SELECT TOP 5 * FROM LaborStatisticsDB.dbo.datatype AS d
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON d.data_type_code = s.data_type_code

data_type_code,data_type_text,series_id,supersector_code,industry_code,data_type_code,seasonal,series_title
1,ALL EMPLOYEES,CES0000000001,0,00000000,1,S,All employees
1,ALL EMPLOYEES,CES0500000001,5,05000000,1,S,All employees
1,ALL EMPLOYEES,CES0600000001,6,06000000,1,S,All employees
1,ALL EMPLOYEES,CES0700000001,7,07000000,1,S,All employees
1,ALL EMPLOYEES,CES0800000001,8,08000000,1,S,All employees

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join series and industry on industry_code</span>

In [72]:
SELECT TOP 5 * FROM LaborStatisticsDB.dbo.industry AS ins
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON ins.industry_code = s.industry_code

id,industry_code,naics_code,publishing_status,industry_name,display_level,selectable,sort_sequence,series_id,supersector_code,industry_code,data_type_code,seasonal,series_title
0,0,-,B,Total nonfarm,0,T,1,CES0000000001,0,00000000,1,S,All employees
0,0,-,B,Total nonfarm,0,T,1,CES0000000010,0,00000000,10,S,Women employees
0,0,-,B,Total nonfarm,0,T,1,CES0000000025,0,00000000,25,S,All employees
0,0,-,B,Total nonfarm,0,T,1,CES0000000026,0,00000000,26,S,All employees
0,0,-,B,Total nonfarm,0,T,1,CEU0000000001,0,00000000,1,U,All employees

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Aggregate Your Friends and Code some SQL</span>

<span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Put together the following:</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many employees were reported in 2016 in all industries? Round to the nearest whole number.&nbsp; No chopping people into little bits, please.</span>

In [107]:
SELECT TOP 5 SUM(a.value) AS "total employees (thousands)", s.series_title FROM LaborStatisticsDB.dbo.annual_2016 AS a
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON a.series_id = s.series_id
WHERE s.series_title like 'All employees'
GROUP BY s.series_title

----but is this right?? also how do I round it:(

total employees (thousands),series_title
2340612.2000000016,All employees

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many women employees were reported in 2016 in all industries? Round to the nearest whole number.&nbsp;</span>

In [39]:
SELECT TOP 5 SUM(a.value) AS "Women employees (thousands)", s.series_title FROM LaborStatisticsDB.dbo.annual_2016 AS a
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON a.series_id = s.series_id
WHERE s.series_title like 'Women employees'
GROUP BY s.series_title

Women employees (thousands),series_title
1125489.6000000008,Women employees

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many production/nonsupervisory employees were reported in 2016? Round to the nearest whole number.&nbsp;</span>

In [38]:
SELECT TOP 5 SUM(a.value) AS "Production and nonsupervisory employees (thousands)", s.series_title FROM LaborStatisticsDB.dbo.annual_2016 AS a
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON a.series_id = s.series_id
WHERE s.series_title like 'Production and nonsupervisory employees'
GROUP BY s.series_title

Production and nonsupervisory employees (thousands),series_title
1263649.6000000008,Production and nonsupervisory employees

4. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2017, what is the average weekly hours worked by production and nonsupervisory employees across all industries?</span>

In [43]:
SELECT TOP 5 avg(a.value) AS 'average weekly hours worked by production and nonsupervisory employees', s.series_title FROM LaborStatisticsDB.dbo.annual_2016 AS a
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON a.series_id = s.series_id
WHERE s.series_title like '%Average weekly earnings of production%'
GROUP BY s.series_title
--- use avg function and also, specify hours because it's giving you earnings too

average weekly hours worked by production and nonsupervisory employees,series_title
523.2215063520862,Average weekly earnings of production and nonsupervisory employees

5. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">What is the total weekly payroll for production and nonsupervisory employees across all industries in January 2017? Round to the nearest penny, please.</span>

In [46]:
SELECT TOP 5 SUM(a.value) as "total weekly payroll for P&NS employees, thousands", s.series_title FROM LaborStatisticsDB.dbo.annual_2016 AS a
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON a.series_id = s.series_id
WHERE s.series_title like 'aggregate weekly payrolls of production%'
GROUP BY series_title

"total weekly payroll for P&NS employees, thousands",series_title
903596300,Aggregate weekly payrolls of production and nonsupervisory employees

6. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2017, which industry was the average weekly hours worked by production and nonsupervisory employees the highest? Which industry was the lowest?</span>

In [129]:
SELECT TOP 5 j.id, j.series_id, j.value, s.series_title, j.period FROM LaborStatisticsDB.dbo.january_2017 AS j
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON j.series_id = s.series_id
WHERE s.series_title like '%Average weekly hours of production%'
ORDER BY j.value ASC

id,series_id,value,series_title,period
43821,CEU7071394007,16.7,Average weekly hours of production and nonsupervisory employees,M01
45778,CEU7071394007,16.7,Average weekly hours of production and nonsupervisory employees,M01
30471,CES7071394007,17,Average weekly hours of production and nonsupervisory employees,M01
45490,CES7071394007,17,Average weekly hours of production and nonsupervisory employees,M01
4956,CEU4244814007,17.8,Average weekly hours of production and nonsupervisory employees,M01

In [130]:
SELECT TOP 5 * FROM LaborStatisticsDB.dbo.industry AS ins
LEFT JOIN LaborStatisticsDB.dbo.series AS s
ON ins.industry_code = s.industry_code
WHERE s.series_id like 'CES3133635007' OR s.series_id like 'CEU7071394007'

-- lowest: Fitness and recreational sports centers
--- highest: motor vehicle power train components

id,industry_code,naics_code,publishing_status,industry_name,display_level,selectable,sort_sequence,series_id,supersector_code,industry_code,data_type_code,seasonal,series_title
199,31336350,33635,HP,Motor vehicle power train components,6,T,200,CES3133635007,31,31336350,7,S,Average weekly hours of production and nonsupervisory employees
819,70713940,71394,A,Fitness and recreational sports centers,6,T,820,CEU7071394007,70,70713940,7,U,Average weekly hours of production and nonsupervisory employees

7. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2021, which industry was the total weekly payroll for production and nonsupervisory employees the highest? Which industry was the lowest?</span>

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Subqueries, Unions, Derived Tables, Oh My!</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Write a query that returns the series_id, industry_code, industry_name, and value from the january_2017 table but only if that value is greater than the average value for annual_2016 of data_type_code 82.</span>

In [47]:
SELECT TOP 5 AVG([value]) AS "avg. value having dtc 82 (thousands)" FROM LaborStatisticsDB.dbo.series AS s
JOIN LaborStatisticsDB.dbo.annual_2016 AS a 
ON s.series_id = a.series_id
GROUP BY data_type_code
HAVING data_type_code = 82

avg. value having dtc 82 (thousands)
819960.3448275862

In [16]:

SELECT TOP 5 s.series_id, ind.industry_code, ind.industry_name, j.[value] FROM LaborStatisticsDB.dbo.january_2017 AS j
JOIN LaborStatisticsDB.dbo.series AS s 
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS ind
ON j.series_id = s.series_id AND s.industry_code = ind.industry_code
WHERE j.[value] > (SELECT TOP 5 AVG([value]) FROM LaborStatisticsDB.dbo.series AS s
JOIN LaborStatisticsDB.dbo.annual_2016 AS a 
ON s.series_id = a.series_id
GROUP BY data_type_code
HAVING data_type_code = 82)

series_id,industry_code,industry_name,value
CES5500000082,55000000,Financial activities,6328968
CES5552200082,55522000,Credit intermediation and related activities,1717912
CES5552210082,55522100,Depository credit intermediation,971796
CES5552300082,55523000,NULL,1044224
CES5552400082,55524000,Insurance carriers and related activities,2347328

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Create a Union table comparing average weekly earnings&nbsp; of production and nonsupervisory employees between annual_16 and january_17 using the data type 30.&nbsp; Round to the nearest penny.&nbsp; You should have a column for the average earnings and a column for the year, and the period.</span>

In [49]:
SELECT TOP 26 [value], year, [period] FROM LaborStatisticsDB.dbo.annual_2016
WHERE series_id IN (
    SELECT series_id FROM LaborStatisticsDB.dbo.series 
    WHERE data_type_code = 30)
UNION 
SELECT TOP 26 [value], year, [period] FROM LaborStatisticsDB.dbo.january_2017
WHERE series_id IN (
    SELECT series_id FROM LaborStatisticsDB.dbo.series 
    WHERE data_type_code = 30)
ORDER BY [value] DESC

value,year,period
1773.7,2017,M01
1699.97,2016,M13
1637.45,2016,M13
1603.07,2016,M13
1581.46,2017,M01
1560,2017,M01
1532.34,2016,M13
1491.35,2017,M01
1461.86,2016,M13
1412.75,2017,M01
1395.45,2017,M01
1354.48,2016,M13
1297.72,2016,M13
1268.78,2017,M01
1232.42,2016,M13
1232.22,2016,M13
1210.29,2016,M13
1207.71,2017,M01
1204.1,2017,M01
1186.69,2017,M01
1179.62,2017,M01
1177.63,2016,M13
1102.91,2016,M13
1102.45,2017,M01
1088.64,2017,M01
1065.23,2017,M01
1040.84,2016,M13
1021.38,2016,M13
1014.93,2017,M01
1010.79,2017,M01
1007.31,2016,M13
980.03,2016,M13
969.36,2017,M01
965.68,2017,M01
962.73,2016,M13
953.37,2016,M13
936.03,2017,M01
924.71,2017,M01
916.86,2016,M13
916.77,2016,M13
855.75,2017,M01
833.43,2016,M13
773.91,2017,M01
770.41,2017,M01
763.73,2017,M01
754.09,2016,M13
749.49,2016,M13
746.56,2016,M13
744.75,2017,M01
730.09,2016,M13
597.73,2016,M13
592.88,2017,M01

## <span style="font-size:12pt;font-family:Montserrat, sans-serif;color:rgb(53, 74, 95);background-color:rgb(255, 255, 255);font-weight:700;vertical-align:baseline;white-space:pre-wrap;">Summarize Your Results</span>

<span style="font-size:10pt;font-family:Arvo, serif;color:rgb(102, 102, 102);background-color:rgb(255, 255, 255);vertical-align:baseline;white-space:pre-wrap;">With what you know now about the </span> <span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:&quot;Times New Roman&quot;;font-size:13.3333px;white-space:pre-wrap;">Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results and working with the</span> <span style="color:rgb(102, 102, 102);white-space:pre-wrap;font-family:&quot;Times New Roman&quot;;font-size:13.3333px;">Labor Statistics Database</span><span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:Arvo, serif;font-size:10pt;white-space:pre-wrap;">, answer the following questions. Note that while this is subjective, you should include relevant data to back up your opinion.</span>

1. <span style="background-color:rgb(255, 255, 255);font-size:10pt;white-space:pre-wrap;color:rgb(102, 102, 102);font-family:Arvo, serif;">During which time period did production and nonsupervisory employees fare better?</span>

Double click here to add your answer

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In which industries did production and nonsupervisory employees fare better?</span>

Double click here to add your answer.

3. <span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Now that you have explored the datasets, is there any data or information that you wish you had in this analysis?</span>

Double click here to add your answer.